/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}

/* ヘッダー部の上部隙間対策 */
* {
    margin: 0px;
    padding: 0px;
}

header {
  height: 50px;
  background-color: #333333;
  margin: 0px;
  padding: 0px;
}
header ul {
  list-style: none;
}
header ul a {
  color: #fff;
  text-decoration: none;
}
header a {
    /* 上右下左 pxないと効かなかった*/
    margin:10px 30px 0px 0px;
}
header a {  /* 【注意】 liと.leftに隙間開けない */
  float: left;
}
header ul div.right-group {  /* 右寄せfloatの順番対処※1 */
  float: right;
}
header li.right {
  float: left;
}
header ul:after {  /* ★怪しい liのfloatのclearafix? */
  content: "";
  clear: both;
  display: block;
}

.main-header {
  padding-bottom: 5%;
  width: 100%;
  /* background-size: cover; */
  /* background-image: url("../images/header.jpg"); */
  /* background-attachment: fixed; */
  position: relative;
  height: 100px;
}
/* ここまでがheader部分の実装 */
.main-header img {  /* ★文字位置・大きさと予想 */
  width: 50%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ここから */
.view_part {  /* ここもfloatがいるように思う⇒不要。table*/
  height: 400px;
  background-color: #D3D3D3;
  padding: 30px;
}

/* ここまでがfunction部分の実装 */
footer {  /*文字位置・文字色・背景色だけ？ */
/* footer部分の実装 */
  height: 100px;
  color: #fff;
  background-color: #2B3D4F;
  position: relative;
}
footer div {
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
	bottom: 0;
  padding: 10px;
}
footer p {
  padding: 5px;
}
/* 定型 20210123 k.nomura*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

